header {
    border-bottom: solid;
    border-color: white;
    margin-bottom: 2rem;
    color: rgb(223, 212, 210);
    display: flex;
}

header h1 {
    margin-left: 15rem;
}

body {
    background-color: rgb(32, 31, 31);
    color: rgb(236, 231, 231);
}

#postSection {
    margin-bottom: 3rem;
}

#inputSection {
    margin-bottom: 3rem;
}

.post {
    border-style: solid;
    border-radius: 1.5rem;
    border-color: aliceblue;
    background-color: rgb(45, 45, 45);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;

}

.post:hover {
    background-color: rgb(71, 69, 69);
}

.post * {
    margin-left: 1.5rem;
}


.postTags {
    display: flex;
    margin-bottom: 1rem;
}

.tag {
    background-color: rgb(43, 41, 41);
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgb(91, 89, 89);
    margin-right: 1rem;
    padding: 0.2rem;
}

footer {
    position: absolute;
    border-top-style: solid;
    border-top-color: rgb(91, 89, 89);
    width: 100%;
}

.link {
    color: rgb(236, 231, 231);
    text-decoration: none;
    background-color: none;
}

button {
    background-color: rgb(73, 73, 72);
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgb(73, 73, 72);
    color: rgb(236, 231, 231);
    margin-right: 1rem;
    margin-bottom: 0.4rem;
    padding: 0.2rem;
}

button:hover {
    background-color: rgb(167, 164, 161);
}

#likeButton {
    margin-right: 0.3rem;
}

#dislikeButton {
    margin-right: 0.3rem;
}

#likeButton:hover {
    background-color: rgb(225, 154, 22);
}

#dislikeButton:hover {
    background-color: rgb(105, 105, 233);
}

.reactionButton {
    display: flex;
    height: 1.9rem;
    padding: 0.5rem;
}

.reactionButton p {

    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.15rem;
    padding-left: 0;
}


.reactions {
    display: flex;
}

.postSection {
    margin-bottom: 1rem;
}

.comment {
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgb(91, 89, 89);
    margin-top: 2rem;

}

.formInputs {
    display: block;
    margin-bottom: 1rem;
}

#inputSection {
    margin-left: 15rem;
    display: block;
}

textarea {
    width: 35rem;
    height: 10rem;
}

#inputBody {
    margin-top: 1.5rem;
}